@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
#albumHeader {
  height: 35vh;
  overflow: hidden;
  background: rgb(240, 207, 79);
  background: linear-gradient(180deg, rgb(240, 207, 79) 22%, rgb(119, 102, 42) 100%);
}

#albumHeader img {
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}

#albumContent {
  height: 65vh;
  color: white;
  background: rgb(97, 83, 29);
  background: linear-gradient(180deg, rgb(97, 83, 29) 0%, rgb(100, 89, 49) 11%, rgb(23, 23, 23) 32%);
}

.albumInfo {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 2vh;
  left: 2vh;
}

.albumName {
  font-size: 3.5rem;
  line-height: 1.5rem;
  margin-bottom: 4vh;
  font-weight: 900;
}

#hover-scale:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 767px) {
  .albumName {
    font-size: 2rem;
    margin-bottom: 2vh;
  }
}
body {
  background-color: black;
}

.myBgGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(44, 44, 44) 67%);
}

.mySectionGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(39deg, rgb(0, 0, 0) 0%, rgb(44, 44, 44) 67%);
}

.asideBgColor {
  background-color: rgb(0, 0, 0);
}

.textColor {
  color: #777777;
}

#leftColumn {
  color: #777777;
  text-decoration: none;
  fill: #777777;
  stroke: #777777;
}
#leftColumn:hover {
  color: white;
  transition: 0.5s;
  cursor: pointer;
  fill: white;
  stroke: white;
}

#containerList {
  overflow-y: scroll;
  height: 70vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #777777;
}

#centralContainer {
  overflow-y: scroll;
  max-height: 1;
  height: 97vh;
}

* {
  box-sizing: border-box;
  font-family: "circular std book", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-size: 14px;
}

.music-player {
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7rem;
  padding: var(--padding);
  color: var(--primary-color);
}

i {
  color: var(--secondary-color);
}

i:hover {
  color: var(--primary-color);
}

.song-bar {
  position: absolute;
  left: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title:hover,
.artist:hover {
  text-decoration: underline;
}

.artist {
  color: var(--secondary-color);
}

.icons {
  display: flex;
  gap: 1em;
}

.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause {
  display: inline-block;
  padding: 1em;
  background-color: var(--primary-color);
  color: #111;
  border-radius: 50%;
}

.play-pause:hover {
  transform: scale(1.1);
  color: #111;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: rgba(204, 204, 204, 0.2666666667);
}

.progress {
  position: relative;
  height: 100%;
  width: 0; /*Da tenere d'occhio */
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.progress-bar:hover .progress {
  background-color: var(--green-color);
}

.progress-bar:hover .progress::after {
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}

.other-features {
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.volume-bar .progress-bar {
  width: 6em;
}

.volume-bar .progress-bar:hover .progress::after {
  --size: 0.8em;
  content: "";
}

.volume-bar .progress {
  transition: width 0.2s ease;
}

/*# sourceMappingURL=style.css.map */
