@import "./color";

body {
  background-color: black;
}

.myBgGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 67%);
}

.mySectionGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(39deg, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 67%);
}

.asideBgColor {
  background-color: $body-bg-color;
}

.textColor {
  color: $textColor;
}

#leftColumn {
  color: $textColor;
  text-decoration: none;
  fill: $textColor;
  stroke: $textColor;

  &:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    fill: white;
    stroke: white;
  }
}
#containerList {
  overflow-y: scroll;
  height: 70vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $textColor;
}

#centralContainer {
  overflow-y: scroll;
  max-height: 1;
  height: 97vh;
}

// audio control

.music-player {
  background-color: #bdbdbd;

  padding: 25px;
  text-align: center;
}

#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background-color: #535353;
  border-radius: 4px;
  margin: 40px 0;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1ed760;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #121212;
  box-shadow: 0 5px 5px rgba(53, 255, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #121212;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 10px 20px rgba(26, 255, 83, 0.22);
    cursor: pointer;
  }
}

.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #1ed760;
  color: #121212;
}

#volume {
  -webkit-appearance: none;
  background-color: #767676;
  border-radius: 25px;
  margin: 10px;
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #1ed760;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 3px solid #121212;
  box-shadow: 0 5px 5px rgba(53, 255, 26, 0.22);
}
