@import "./color";

$font-path: "../assets/fonts";

@font-face {
  font-family: "CircularStd";
  src: url("#{$font-path}CircularStd.otf") format("opentype");
}

body {
  background-color: black;
  font-family: "CircularStd", sans-serif;
}

.myBgGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 67%);
}

.mySectionGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(39deg, rgba(0, 0, 0, 1) 0%, rgba(44, 44, 44, 1) 67%);
}

.asideBgColor {
  background-color: $body-bg-color;
}

.textColor {
  color: $textColor;
}

#leftColumn {
  color: $textColor;
  text-decoration: none;
  fill: $textColor;
  stroke: $textColor;

  &:hover {
    color: white;
    transition: 0.5s;
    cursor: pointer;
    fill: white;
    stroke: white;
  }
}
#containerList {
  overflow-y: scroll;
  height: 68vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $textColor;
}

#centralContainer {
  overflow-y: scroll;
  max-height: 1;
  height: 97vh;
}

#btn1 {
  background-color: $btn-green;
}

#allCardBuonasera {
  background-color: $myGrey;
  border-radius: 10px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s;
    cursor: pointer;
    stroke: white;
  }
}

#darker {
  background-color: $myGrey;
  color: $textColor;
}
#altrodiciòchetipiace {
  margin-top: 2rem;
}

#greetings {
  margin-top: 2rem;
}
#buttons {
  margin-top: 5rem;
}
.card-title {
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.card-text {
  font-size: 14px;
}
#nascondi-annunci {
  font-size: 9px;
}
#visualizza-tutto {
  font-size: 11px;
  color: $textColor;
}
